<div class="container">
  <h2 class="title">Reviews</h2>
  <ul class="reviews-list">
    <li class="reviews-list__item">
      <article class="review-card">
        <div class="thumb">
          <img
            class="reviews-list__photo"
            src="../images/person-desktop-1.png"
            alt="Reviewers photo"
          />
        </div>

        <svg class="rate" width="136" height="24">
          <use href="../images/icon.svg#icon-rate-4"></use>
        </svg>
        <h3 class="reviews-list__name">John</h3>
      </article>
    </li>
    <li class="reviews-list__item">
      <article class="review-card">
        <div class="thumb">
          <img
            class="reviews-list__photo"
            src="../images/person-desktop.png"
            alt="Reviewers photo"
          />
        </div>
        <svg class="rate" width="136" height="24">
          <use href="../images/icon.svg#icon-rate-5"></use>
        </svg>
        <h3 class="reviews-list__name">Will</h3>
        <p class="reviews-list__review">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </article>
    </li>
    <li class="reviews-list__item">
      <article class="review-card">
        <div class="thumb">
          <img
            class="reviews-list__photo"
            src="../images/person-desktop-2.png"
            alt="Reviewers photo"
          />
        </div>

        <svg class="rate" width="136" height="24">
          <use href="../images/icon.svg#icon-rate-5"></use>
        </svg>
        <h3 class="reviews-list__name">Elisabeth</h3>
      </article>
    </li>
  </ul>
</div>
