
.program {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2e2520;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 290px;

  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 635px;
    min-height: 446px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
    width: 824px;
    height: 520px;
    margin-top: 40px;
  }
}
.program-title,
.program-text,
.program-set,
.program-list,
.program-item,
.program-card-title,
.program-card-text,
.program-btn {
  margin: 0;
  padding: 0;
}
.program-title,
.program-card-title {
  font-family: Caveat Brush, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2e2520;
}
.program-title {
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }

  @media screen and (min-width: 1280px) {
    text-align: start;
    font-size: 36px;
    line-height: 1.8;
    margin-bottom: 10px;
  }
}
.program-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.program-description {
  width: 290px;

  @media screen and (min-width: 768px) {
    width: 298px;
    margin-right: 38px;
  }
  @media screen and (min-width: 1280px) {
    width: 392px;
    margin-right: 40px;
  }
}

.program-list,
.program-set {
  list-style-type: none;
}

.program-item {
  margin-top: 10px;

  @media screen and (min-width: 1280px) {
    &:not(:first-child) {
      margin-top: 15px;
    }
    &:first-child {
      margin-top: 21px;
    }
    &:last-child {
      margin-bottom: 21px;
    }
  }
}

.program-set {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    margin-top: 33px;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: 314px;
    margin-top: 34px;
    margin-right: calc(-1 * 15px);
  }
  @media screen and (min-width: 1280px) {
    width: 424px;
    margin-top: 40px;
    margin-right: calc(-1 * 32px);
  }
}
.program-card {
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  width: 140px;
  height: 140px;
  flex-basis: calc(100% / 2 - 6px);

  @media screen and (min-width: 320px) {
    &:nth-child(odd) {
      margin-right: 6px;
    }
    &:nth-child(n + 3) {
      margin-top: 56px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 142px;
    height: 142px;
    flex-basis: calc(100% / 2 - 15px);
    margin-right: 15px;

    &:nth-child(odd) {
      margin-right: 15px;
    }
    &:nth-child(n + 3) {
      margin-top: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
    flex-basis: calc(100% / 2 - 32px);
    margin-right: 32px;

    &:nth-child(n + 3) {
      margin-top: 0px;
    }
    &:nth-child(odd) {
      margin-right: 32px;
    }
  }
}

.program-card--transform {
  transform: translateY(20%);

  @media screen and (min-width: 1280px) {
    transform: translateY(30%);
  }
}
.program-icon {
  width: 19px;
  height: 18px;

  @media screen and (min-width: 768px) {
    width: 19px;
    height: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}
.program-icon--size {
  width: 24px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 31px;
    height: 22px;
  }
}
.img-donut {
  display: inline-block;
  position: absolute;
  width: 70px;
  height: 76px;
  transform: translate(-50%, -45%);

  @media screen and (min-width: 768px) {
    width: 70px;
    height: 75px;
  }
  @media screen and (min-width: 1280px) {
    width: 85px;
    height: 95px;
  }
}
.program-card-title {
  font-size: 18px;
  line-height: 1.27;
  margin-top: 49px;
  margin-bottom: 12px;

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 63px;
    margin-bottom: 16px;
  }
}
.program-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  margin-bottom: 12px;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
}
.program-btn {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 3.6;
  border: none;
  color: #ab816c;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
#more {
  display: none;
}
@media screen and (min-width: 1280px) {
  #more {
    display: block;
  }

  .program-btn {
    display: none;
  }
}
